<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="yang.mychabaike"
    xmlns:android="http://schemas.android.com/apk/res/android"
   >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <activity android:name="com.yang.mychabaike.ui.activity.LoadingActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity android:name="com.yang.mychabaike.ui.activity.WelcomeActivity"></activity>
        <activity android:name="com.yang.mychabaike.ui.activity.HomeActivity"></activity>
    </application>

</manifest>
